/* NOMBRE DE INTEGRANTES: -JUAN RICARDO RIAÑOS HORTA
                          - EMMANUEL DUQUE ARISTIZABAL
                          - SEBASTIÁN GARCIA CARDONA
                          - SAMUEL FERNANDO PALACIOS SEVILLANO
                          - JUAN ALEJANDRO GOMEZ OROZCO
    FECHA:
    22/06/2024
    DESCRIPCIÓN:
    CSS de la página de error de conexión con el usuario*/
body::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
}
body{
    background-color: rgb(213, 214, 214);
}
#barra:hover{
    color: black;
    transition: color 1s;
    font-size: 23px;
    transition: font-size 1s;
    }
#img{
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    height: 76px; 
    width: 200px;
     position: absolute;
      left: 100px;
      top:2px ;
}
#hola{
    cursor: pointer; position: fixed;bottom: 10px; right: 10px;z-index: 1000; width: 50px;height: 50px;display: block; 
}
#hola2{
    cursor: pointer; position: fixed;bottom: 10px; right: 10px;z-index: 1001; width: 50px;height: 50px; display: none;
}
#contenedor{
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#siguiente{
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#atras{
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.Nosotros{
    position: absolute;
    top: 30px;
    font-size: 20px;
    color: rgb(72, 71, 71);
    background-color: rgb(185, 185, 185);
    font-family: "Josefin Sans", sans-serif;
    left: 700px;
    cursor: pointer;
}
.Equipo{
    position: absolute;
    top: 29px;
    font-size: 20px;
    color: rgb(72, 71, 71);
    font-family: "Josefin Sans", sans-serif;
    left: 930px;
    background-color: rgb(185, 185, 185);
    cursor: pointer;
}
.Navega{
    position: absolute;
    top: 15px;
    font-size: 20px;
    color: rgb(72, 71, 71);
    background-color: rgb(185, 185, 185);
    font-family: "Josefin Sans", sans-serif;
    left: 1050px;
    cursor: pointer;
}
.siguiente{
    background-color: rgba(85, 85, 85, 0.5); /* Color de fondo */
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-decoration: none; 
    font-size: 16px; 
    cursor: pointer; 
    margin: none;
    margin-top: none;
    border-radius: 8px; 
    width: 0%px;
     position: absolute; top: 140px; z-index: 7; left: 1100px; top: 350px
   }
   .atras{
       background-color: rgba(85, 85, 85, 0.5); /* Color de fondo */
    border: none; /* Sin borde */
    color: white; 
    padding: 15px 32px; 
    text-decoration: none; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 8px; 
    width: 1px;
     position: absolute; top: 140px; z-index: 7; left: 638px; top: 350px
   }
   .atras:hover{
       background-color: rgba(183, 174, 174, 0.5);
   }
   .siguiente:hover{
       background-color: rgba(183, 174, 174, 0.5);
   }
   .Tabla{
    background-color: rgb(255, 255, 255);  
    position: relative; 
    left: 1050px; 
    top: 57px; 
    width: 200px;
    display: none;
    z-index: 100;
   }
.Contactanos{
    text-decoration: none;
    color: rgb(72, 71, 71);
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
}
.Contactanos:hover{
    color: black;
transition: color 1s;
font-size: 17px;
transition: font-size 1s;
}

.Info{
    text-decoration: none;
    color: rgb(72, 71, 71);
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
}
.Info:hover{
    color: black;
transition: color 1s;
font-size: 17px;
transition: font-size 1s;
}


.cuatro{
width: 300px;
height:300px;
position: absolute;
top: 165px;
left: 100px;
}
.ups{
    font-size: 56px;
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    top: 150px;
    left: 450px;
}
.pos{
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    top: 250px;
    left: 450px;
}
.text1{
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    top: 300px;
    left: 450px;
}
.text2{
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    top: 320px;
    left: 450px;
}
.text3{
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    top: 340px;
    left: 450px;
}
.text4{
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    top: 360px;
    left: 450px;
}
.text5{
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    top: 400px;
    left: 450px;
}
.text6{
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    top: 450px;
    left: 450px;
    text-decoration: none;
}